.flex {
    justify-content: space-between;
    display: flex;
}

.container {
    max-width: 1120px;
    margin: auto;
}

.center {
    text-align: center;
}

.col-2 {
    width: 50%;
}

.col-4 {
	width: 33.33%;
}

.col-3 {
    width: 25%;
}

.center {
    align-items: center;
    justify-content: center;
}