.header {
    position: absolute;
    width: 100%;
}

.header__menu {
    list-style: none;
    justify-content: space-around;
}

.nav__logo {
    margin-top: 10px;
}

.nav__item {
    margin-top: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #150101;
}

.nav__link {
    color: #150101;
    cursor: pointer;
}

.nav__link:hover {
    color: #d23166;
}

.nav__button {
    margin-top: 25px;
}
