.header {
    position: absolute;
    width: 100%;
}

.header__menu {
    list-style: none;
}

.nav__logo {
    margin-top: 10px;
}

.nav__item {
    right: 10px;
    margin-top: 15px;
}

.nav__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    color: #150101;
    cursor: pointer;
}

.nav__link:hover {
    color: #d23166;
}

.nav__button {
    margin-top: 25px;
}
