.products {
    min-height: 2310px;
}

.products__title {
    text-align: center;
    font-family: Hind Madurai;
    font-style: normal;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 61px;
    color: #150101;
}

.products__item {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
}

.products__link {
    color: #000;
    opacity: 0.6;
    cursor: pointer;
}

.products__link:hover {
    color: #000;
    opacity: 1;
    border-bottom: #D64374;
    border: 12px;
}
